body {
  margin: 0;
  padding: 0;
  background-color: #262f4b;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login_title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.login_card {
  width: 450px;
  background-color: #1e213a;
  padding: 40px;
  border-radius: 10px;
  border-top: 4px solid #19d4ca;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login_input {
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: #fff;
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0 0 10px #19d4ca;
}

.login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-decoration: none;
}

.login-button-dis{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-decoration: none;
  background-color: #6ceae3;
}

.login-button {
  background-color: transparent;
  color: #19d4ca;
}

.login-button:hover {
  background-color: #19d4ca;
  color: #fff;
  box-shadow: none;
}

.login-button:active {
  box-shadow: 0 0 10px #19d4ca;
}


@media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 300px;
  }
}

.button {
  background-color: transparent;
  color: #19d4ca;
}
/*DASHBOARD CSS START*/

#logo {
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  background-color: #464e62;
  border-color: #464e62;
  height: 60px;
  width: 280px;
  font-size: 30px;
  line-height: 2em;
  z-index: 4;
  color: #fff;
  padding-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

#main-content {
  min-height: calc(100vh - 60px);
  clear: both;
}

#header {
  background-color: #464e62;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* #header .header-left {
  padding-left: 300px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header .header-right {
  text-align: center;
  justify-content: center;
  padding-right: 40px;
}

#header .header-right i,
#header .header-left i {
  font-size: 30px;
  line-height: 2em;
  padding: 0 5px;
  cursor: pointer;
} */

#main-content {
  min-height: calc(100vh - 60px);
  clear: both;
}

#page-container {
  padding-left: 300px;
  padding-top: 80px;
  padding-right: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#page-container.small-left-menu,
#header .header-left.small-left-menu {
  padding-left: 80px;
}




#left-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  background-color: #313644;
  overflow-y: auto;
  height: 100vh;
  /* border-right: 1px solid #e6ecf5; */
  margin-top: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  z-index: 2;
}

.left-menu-item{
  padding: 15px 10px 10px 25px;
  color: white;
  cursor: pointer;
}

.left-menu-item:hover span{
  color: #0e9aee;
}

.left-menu-item.active{
  background-color: #0e9aee;
  font-weight: 600;
  border-radius: 30px;
}

.left-menu-item.active:hover span{
  color: white;
}

#left-menu.small-left-menu,
#logo.small-left-menu {
    width: 60px;
}

#left-menu ul {
    padding: 0;
    margin: 0;
}

#left-menu ul li {
    padding: 0 10px;
    display: block;
    position: relative;
}

#left-menu > ul > li {
    margin: 15px 0;
}

#left-menu ul li a {
    color: #99abb4;
    width: 100%;
    display: inline-block;
    width: 260px;
    height: 37px;
    position: relative;
}


#left-menu ul li a i {
    font-size: 22px;
    text-align: center;
    width: 35px;
    height: 35px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#left-menu ul li:hover a span{
    color: #0e9aee;
}
#left-menu ul li:hover a i{
    color: #0e9aee;
}

#left-menu ul li a span {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    color: #99abb4;
    font-weight: 300;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#left-menu ul li.active a {
    border-bottom: 2px solid #0e9aee;
}

#left-menu ul li.active a span {
    color: #fff;
}

#left-menu ul li.active a i {
    background-color: #0e9aee;
    color: #fff;
}


#left-menu li.has-sub ul {
    background-color: #454e62;
    margin: 0 -10px;
    padding-left: 45px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#left-menu li.has-sub ul > li {
    padding-top: 10px;
}

a:hover {
  text-decoration: none;
}


.card {
  border: 1px solid #e6ecf5;
  margin-bottom: 1em;
  font-weight: 300;
}

.card .title {
  padding: 15px 20px;
  border-bottom: 1px solid #e6ecf5;
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
}


@media only screen and (max-width: 992px) {
  #left-menu,
  #logo {
      width: 60px;
  }
  
  #page-container,
  #header .header-left {
      padding-left: 80px;
  }
  
  #toggle-left-menu,.big-logo{
      display: none;
  }
}

@media only screen and (min-width: 992px) {
  #left-menu li.has-sub::after {
      font-family: "Ionicons";
      content: "\f3d3";
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      transform: rotate(0deg);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  #left-menu li.has-sub.rotate:after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
  }
  .small-logo{
      display: none;
  }
  
}    


/* ADD BABY FORM*/
.addform-label {
  font-weight: 600;
}