body {
  margin: 0;
  padding: 0;
  background-color: #262f4b;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login_title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.login_card {
  width: 450px;
  background-color: #1e213a;
  padding: 40px;
  border-radius: 10px;
  border-top: 4px solid #19d4ca;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login_input {
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: #fff;
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0 0 10px #19d4ca;
}

.login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-decoration: none;
}

.login-button-dis{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-decoration: none;
  background-color: #6ceae3;
}

.login-button {
  background-color: transparent;
  color: #19d4ca;
}

.login-button:hover {
  background-color: #19d4ca;
  color: #fff;
  box-shadow: none;
}

.login-button:active {
  box-shadow: 0 0 10px #19d4ca;
}


/* @media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 300px;
  }
} */

.button {
  background-color: transparent;
  color: #19d4ca;
}

/*DASHBOARD CSS START*/

#logo {
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  background-color: #464e62;
  border-color: #464e62;
  height: 60px;
  width: 280px;
  font-size: 30px;
  line-height: 2em;
  z-index: 4;
  color: #fff;
  padding-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

#main-content {
  min-height: calc(100vh - 60px);
  clear: both;
}

#header {
  background-color: #464e62;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#main-content {
  min-height: calc(100vh - 60px);
  clear: both;
}

#page-container {
  padding-left: 300px;
  padding-top: 80px;
  padding-right: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}



.toggol-icon {
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.logout {
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  background-color: #464e62;
  overflow-y: auto;
  height: 100vh;
  border-top: 1px solid #ffffff60;
  margin-top: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  z-index: 2;
}

.left-menu-item{
  padding: 15px 10px 10px 25px;
  color: white;
  cursor: pointer;
}

.left-menu-item:hover span{
  color: #0e9aee;
}

.left-menu-item.active{
  background-color: #0e9aee;
  font-weight: 600;
  border-radius: 30px;
}

.left-menu-item.active:hover span{
  color: white;
}


a:hover {
  text-decoration: none;
}


.card {
  border: 1px solid #e6ecf5;
  margin-bottom: 1em;
  font-weight: 300;
}

.card .title {
  padding: 15px 20px;
  border-bottom: 1px solid #e6ecf5;
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
}

@media only screen and (max-width: 300px){
  .login_card {
    width: 100%;
    max-width: 350px;
  }
  .toggol-icon {
    display: flex;
  }
  #page-container,
  #header .header-left {
      padding-left: 30px;
  }
  
  #logo, .left-menu,.big-logo {
    display: none;
  }
  .drawerOpen {
    display: block;
  }
  .mar-top {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 480px){
  .login_card {
    width: 100%;
    max-width: 350px;
  }
  .toggol-icon {
    display: flex;
  }
  #page-container,
  #header .header-left {
      padding-left: 30px;
  }
  
  #logo, .left-menu,.big-logo {
    display: none;
  }
  .drawerOpen {
    display: block;
  }
  .mar-top {
    margin-top: 3rem;
  }
}


@media only screen and (min-width: 481px) and (max-width: 1023px) and (orientation:landscape) {
  .login_card {
    width: 100%;
    max-width: 350px;
  }
  .toggol-icon{
    display: flex;
  }
  
  #page-container,
  #header .header-left {
      padding-left: 30px;
  }
  
  #logo, .left-menu,.big-logo{
    display: none;
  }
  .drawerOpen{
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  /* #left-menu li.has-sub::after {
      font-family: "Ionicons";
      content: "\f3d3";
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      transform: rotate(0deg);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  #left-menu li.has-sub.rotate:after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
  } */
  
  #logo,.left-menu,.big-logo{
    display: block;
  }
  .toggol-icon{
      display: none;
  }
  
}


/* ADD BABY FORM*/
.addform-label {
  font-weight: 600;
}

/* modal and image style*/
.modal-main{
  border-radius: 5px;
  height: 100vh;
  width: auto;
  background-color: #1e213a;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.image-style{
  border-radius: 5px;
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.transform-component-module_wrapper__SPB86{
  overflow: visible !important;
}
.modal-close{
  cursor: pointer;
  color: '#FFF';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
}
.loader{
  height: 10%;
  align-self: center;
}

.pdf-logo {
  height: 80px;
  width: 100px;
}
.pdf-text {
  text-align: center;
  align-items: center;
  justify-content: center;
}